<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <customshipping>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Eternus\CustomShipping\Model\Carrier\Shipping</model>
                <name>Custom Shipping Method By Eternus</name>
                <price>10.00</price>
                <title>Custom Shipping Method By Eternus</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </customshipping>
        </carriers>
    </default>
</config>
