<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">

        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eternus_eventregistrations_registrations_listing_data_source"
                      xsi:type="string">Eternus\EventRegistrations\Model\ResourceModel\Registrations\Grid\Collection
                </item>
           </argument>

        </arguments>
    </type>
    <virtualType name="Eternus\EventRegistrations\Model\ResourceModel\Registrations\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">registrations</argument>
            <argument 
               name="resourceModel"
               xsi:type="string">Eternus\EventRegistrations\Model\ResourceModel\Registrations</argument>

        </arguments>

    </virtualType>

</config>
