<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="afterAddProduct" 
                type="ShoppingCartPlugin\ShoppingCart\Plugin\Cart" 
                sortOrder="10"/>
    </type>
</config>