<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <eternuspayment>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Eternus\CustomPayment\Model\PaymentMethod</model>
                <active>0</active>
                <title>Custom Payment Module</title>
                 <cctypes>AE,VI,MC,DI</cctypes>
            </eternuspayment>
        </payment>
    </default>
</config>